* {
    margin: 0;
    padding: 0;
    background-color: #f25fa1;
    }

.timer-body {
    width: 100%;
    color: #fff;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f25fa1;


}

h1 {
    font-family: 'Open Sans', sans-serif;
 }
.logo-title {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    height: 200px;
}

.timer-content {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 500px;
}
.inc-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.timer-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.dec-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.myButton {
    height: 36px;
	box-shadow:inset 0px 1px 0px 0px #3071bb;
	background:linear-gradient(to bottom, #3071bb 5%, #3071bb 100%);
	background-color:#3071bb;
	border-radius:6px;
	border:1px solid #3071bb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    margin: 5px;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3071bb;
}
.myButton:hover {
	background:linear-gradient(to bottom, #3071bb 5%, #3071bb 100%);
	background-color:#3071bb;
}
.myButton:active {
	position:relative;
	top:1px;
}

.button-start {
    height: 36px;
	box-shadow:inset 0px 1px 0px 0px #3071bb;
	background:linear-gradient(to bottom, #3071bb 5%, #3071bb 100%);
	background-color:#3071bb;
	border-radius:6px;
	border:1px solid #3071bb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    margin: 5px;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3071bb;
}

.animation-selection {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

.ani-1{
    height:100px;
}