* {
    margin: 0;
    padding: 0;
    }

.timer-body {
    width: 100%;
    color: #fff;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #2B9D8F;


}

.logo-title {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.logo {
    height: 300px;
    width: 500px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
 }
.timer-content {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 500px;
    
}
.inc-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.timer-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.dec-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.myButton {
    height: 36px;
	box-shadow:inset 0px 1px 0px 0px #d46868;
	background:linear-gradient(to bottom, #d46868 5%,#d46868 100%);
	background-color:#d46868;
	border-radius:6px;
	border:1px solid #d46868;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    margin: 5px;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d46868;
}
.myButton:hover {
	background:linear-gradient(to bottom, #d46868 5%, #d46868 100%);
	background-color:#d46868;
}
.myButton:active {
	position:relative;
	top:1px;
}

.start-button {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    align-items: flex-start;
}
.button-start {
    height: 36px;
	box-shadow:inset 0px 1px 0px 0px #d46868;
	background:linear-gradient(to bottom, #d46868 5%, #d46868 100%);
	background-color:#d46868;
	border-radius:6px;
	border:1px solid #d46868;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    margin: 5px;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d46868;
}

.animation-selection {
    grid-row: 4/5;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.icon {
    height: 150px;
    width: 125px;
}

.icon:hover {
    height: 150px;
    width: 125px;
    opacity: 0.75;
}

.icon-knight {
    width: 170px;
    height: 150px;
}

.icon-knight:hover {
    width: 170px;
    height: 150px;
    opacity: 0.75;
}
