* {
    margin: 0;
    padding: 0;
    }

.timer-body {
    width: 100%;
    color: #fff;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #f25fa1;


}

h1 {
    font-family: 'Open Sans', sans-serif;
 }
.timer-content {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 500px;
}
.inc-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.timer-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.dec-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.myButton {
    height: 36px;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    margin: 5px;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}
